{% extends 'landmark/base.html' %}
{% block title %}설명{% endblock title %}
{% block headline %}사용 방법{% endblock headline %}
{% block content %}
<div class="content text-center">
<p>코로나 팬데믹으로 인한 여행 제한이 완화되면서, 많은 사람들이 해외 여행에 대한 열망과 흥미가 더욱 고조되고 있습니다.</p>
<p>그러나 랜드마크 사진을 보아도 해당 장소에 대한 구체적인 정보가 떠오르지 않는 경우가 많습니다. </p>
<p>이러한 상황에서 우리 웹 사이트는 이러한 니즈를 충족시키는 역할을 합니다.</p>

<p>우리의 목표는 사용자들이 희망하는 여행 목적지의 사진을 기반으로, 그 랜드마크가 어떤 곳인지, 어떤 도시에 위치하며 어떤 나라에 속하는지를 자동으로 분류하는 것입니다. </p>
<p>이를 통해 사용자들은 랜드마크 사진을 통해 관련 정보를 손쉽게 습득할 수 있을 것입니다.</p>

<p>저희의 웹 어플리케이션은 아래와 같은 주요 기능을 제공합니다:</p>

<p>회원가입 및 로그인: 사용자마다 다른 사진을 입력할 것이라고 생각해 회원가입과 로그인을 진행 후에 회원마다 다른 사진들로 진행할 수 있도록 하였습니다.</p>

<p>자동 분류 및 정보 제공: 사용자가 업로드한 랜드마크 사진을 분석하여 그 랜드마크를 식별하고 분류합니다. </p>
<p>이를 바탕으로 해당 랜드마크의 세부 정보와 위치를 시각적으로 표현해 줍니다.</p>

<p><strong>여행 정보 제공:</strong> 분류된 랜드마크와 관련된 여행 정보를 제공합니다. </p>
<p>이를 통해 사용자들은 랜드마크의 특징, 위치, 영업 시간, 지도 등을 손쉽게 확인할 수 있습니다.</p>

<p><strong>주변 호텔 정보:</strong> 해당 랜드마크 주변의 호텔을 가격 및 등급별로 분류하여 정보를 제공합니다.</p>

<p>이를 통해 사용자들은 랜드마크 사진만으로도 해당 장소의 정보와 특징을 쉽게 파악할 수 있게 됩니다.</p>
<p>원하는 여행 목적지에 대한 구체적이고 풍부한 정보를 제공함으로써, 사용자들은 여행지 선택에 대한 사회적, 경제적 특성을 효과적으로 비교할 수 있게 됩니다.</p>

<p>저희의 웹사이트는 사용 방법에 대한 안내도 제공합니다. 사용자들은 빠르고 쉽게 원하는 정보를 얻을 수 있도록 깔끔하고 친절한 설명을 제공할 것입니다. </p>
<p>또한 시각적으로 아름답고 가독성이 좋은 디자인을 통해 사용자 경험을 향상시킬 것입니다</p>
</div>


{% endblock  %}